* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background:hsla(165, 95%, 43%, 0.467);
}

nav {
    display: flex;
    background-color: #212121;

    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}

.orange h1 {
    color: orange;
    font-size: 5rem;
}

.left {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    color: #fff;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-right: 25px;
}

nav ul li a:hover {
    color: red;
}

.detel {
    margin: 150px 200px;
    width: 30%;
    height: 50%;

}

.detel h2 {
    font-size: 1.3rem;
    color: #212121;
    margin-bottom: 20px;

}

span {
    color: rgb(233, 19, 19);
}

.detel p {
    color: rgba(90, 40, 40, 0.788);
}
.fonts{
    width: 300px;
    height: 60px;
    
}
.fonts ul{
    position: absolute;

    padding: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    margin-left: 160px;
    margin-top: 40px;
}
.fonts ul li{
    list-style: none;
    margin:0 15px ;

    
}
.fonts ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;


}
.fonts ul li .fa:hover{
    color: #fff;
}
.fonts ul li a{
    position: relative;
    display: block; 
    width: 50px;
    height:35px;
    border-radius: 35%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.fonts ul li a:hover{
    
    transform: translate(0, -10px);
}
.fonts ul li:nth-child(1) a:hover{
    background-color:#0a66c2 ;
}
.fonts ul li:nth-child(2) a:hover{
    background-color:#EA4335 ;
}
.fonts ul li:nth-child(3) a:hover{
    background-color:#c32aa3 ;
}
.fonts ul li:nth-child(4) a:hover{
    background-color: #1877f2 ;
}

.sonu {
    display: block;
    margin-top:30px; 
    background-color:white;
    border-radius:20px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 32px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}
.sonu:hover{
     background-color: #35ea4a; 
    transform: translate(0 ,-10px);
}

img {
    width: 320px;
    height: 320px;
    position: absolute;
    bottom: 30%;
    right: 240px;
    /* display: block; */
    border-radius: 150px;
    background-color: #212121;
    box-shadow: 2px 5px 4px 1px rgba(0, 255, 238, 0.466);
}

.Parent { 
    display: flex; 
    flex-direction: row; 
    background-color: hsla(165, 95%, 43%, 0.467);
} 

.child1 { 
    width: 50%; 
    height: 100vh; 
    
    text-align: right; 
    color: rgb(58, 23, 23); 
} 

.child2 { 
    width: 50%; 
    color: rgba(13, 15, 7, 0.9); 
    height: 100vh; 
    margin-left: 10px;
} 
.edu{
    display: flex;
    align-items: flex-start;
    
    height: 70%;
    margin: 40px 100px 40px 100px ;
    border-radius: 20px ;
}
 .btech{
    
    background-color:#abb5c396;
    width: 100%;
    height: 100px;
    padding-top:20px;
    padding-left: 10px;
    right: 20px;
 }
 .btech h1{
    text-align:start;
 }
 .btech h3{
    text-align: start;
 }
 .btech p{
    text-align: start;
 }
 .inter{
    background-color: #abb5c396; 
    width: 100%;
    height: 100px;
    padding-top:20px;
    padding-left: 10px;
    right: 20px;
    margin: 4% 20% 0% -2%;
    
 }
 .inter h1{
    text-align:start;
 }
 .inter h3{
    text-align: start;
 }
 .inter p{
    text-align: start;
 }
 .high{
    background-color: #abb5c396; 
    width: 100%;
    height: 100px;
    padding-top:20px;
    padding-left: 10px;
    right: 20px;
    margin: 1% 20% 0% -2%;
    
 }
 .high:hover{
    background-color:rgba(18, 111, 225, 0.632);
    transform: translate(0 ,-10px);
 }
 .btech:hover{
    background-color: rgba(18, 111, 225, 0.632);
    transform: translate(0 ,-10px);
 }
 
 
 .inter:hover{
    background-color: rgba(18, 111, 225, 0.632);
    transform: translate(0 ,-10px);
 }
 p { 
    font-size: 20px; 
} 

.container { 
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 15px; 
    margin-top: 10px;
} 

.skill { 
    background-color: rgba(35, 27, 19, 0.959); 
    color: white; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 15px; 
} 

.html { 
    width: 90%; 
} 

.css { 
    width:80%; 
} 
.javascript { 
    width: 75%; 
} 

.python { 
    width: 90%; 
} 
.list p{
    margin-top: 30px;

}
.html:hover{
    color:black;
    background-color: #35ea4a;
}
.css:hover{
    color:black;
    background-color: #35ea4a;
}
.javascript:hover{
    color:black;
    background-color: #35ea4a;
}
.python:hover{
    color:black;
    background-color: #35ea4a;
}
